<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('admin_static')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('admin_static')}/js/jquery.js"></script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">用户权限管理</a></li>
            <li><a href="#">用户权限添加</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">基本信息</span>


        </div>
        <form action="{:url('admin/auth/upd')}" method="post">
            <input type="hidden" value="{$auth_.auth_id}" name="auth_id"/>
            <ul class="forminfo">
                <li>
                    <label>权限名称: </label>
                    <input name="auth_name" value="{$auth_.auth_name}" type="text" class="dfinput" /><i></i>
                </li>
                <li>
                    <label>父级权限: </label>
                    <select name="pid"  class="dfinput">
                        <option value="0">顶级权限</option>
                        {foreach name='auths' item='auth'}
                            <option value="{$auth.auth_id}">{:str_repeat('--',$auth.level)}{$auth.auth_name}</option>
                        {/foreach}
                    </select>
                </li>
                <li>
                    <label>控制器名: </label>
                    <input name="auth_c" value="{$auth_.auth_c}" type="text" class="dfinput" /><i></i>
                </li>
                <li>
                    <label>方法名: </label>
                    <input name="auth_a" value="{$auth_.auth_a}" type="text" class="dfinput" />
                </li>

            </ul>
			<li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
             </li>
        </form>
    </div>
</body>
<script>
    $(".formtitle span").click(function(event){
        $(this).addClass('active').siblings("span").removeClass('active') ;
        var index = $(this).index();
        $("ul.forminfo").eq(index).show().siblings(".forminfo").hide();
    });
     $(".formtitle span").eq(0).click();

     // 给下拉选项绑定change事件
    $("select[name='pid']").on('change',function () {
        var auth_id = $(this).val();
        // 如果是顶级权限
        if (auth_id == 0){
            // 让控制器和方法两个输入框不可用
            $("input[name='auth_c'],input[name='auth_a']").prop('disabled', true);
        }else {
            $("input[name='auth_c'],input[name='auth_a']").prop('disabled', false);
        }
    });
    // 自执行，当页面刚加载出来的时候，默认选的是顶级分类，让两个输入框不可用
    // $("select[name='pid']").change();
    // 默认选中该权限的父权限
    $("select[name='pid']").val('{$auth_.pid}');

    $("select[name='pid']").change();

</script>

</html>
