<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('admin_static')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('admin_static')}/js/jquery.js"></script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">用户管理</a></li>
            <li><a href="#">用户添加</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">基本信息</span>


        </div>
        <form action="{:url('admin/type/upd')}" method="post">
            <input type="hidden" name="type_id" value="{$type.type_id}">
            <ul class="forminfo">
                <li>
                    <label>类型名称: </label>
                    <input name="type_name" value="{$type.type_name}" type="text" class="dfinput" /><i></i>
                </li>
                <li>
                    <label>类型描述: </label>
                    <textarea name="mark"  class="textinput" rows="" cols="">
                        {$type.mark}
                    </textarea>
                </li>

            </ul>
			<li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
             </li>
        </form>
    </div>
</body>
<script>
    $(".formtitle span").click(function(event){
        $(this).addClass('active').siblings("span").removeClass('active') ;
        var index = $(this).index();
        $("ul.forminfo").eq(index).show().siblings(".forminfo").hide();
    });
     $(".formtitle span").eq(0).click();

     // 定义匹配不可见字符
    var reg = /\s+/g;
    var oldtext = $("textarea[name='mark']").val();
    // 把正则匹配的替换成空字符
    var newText = oldtext.replace(reg, '');
    $("textarea[name='mark']").val(newText);
</script>

</html>
